/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126a
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-container {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.buttons{
  margin: 1rem;
  padding: 1.5rem;
  display: inline-block;
  border-radius: 1.3rem;
  color: white;
  font-family: 'Roboto Mono';
  text-align: center;
}

.button1 {
  margin: auto;
  padding: 1rem;
  width: 20%;
  height: auto;
  max-height: 3rem;
  background-color: #FF764E;
}

.button2 {
  margin: auto;
  padding: 1rem;
  width: 20%;
  height: auto;
  max-height: 3rem;
  background-color: #5ED3EB;
}

.button3 {
  margin: auto;
  padding: 1rem;
  width: 20%;
  height: auto;
  max-height: 3rem;
  background-color: #FFCD69;
}

h1 {
  font-family: 'Chelsea Market';
  font-size: 2.7rem;
  margin: 2rem;
  text-align: center;
}

p {
  font-family: 'Roboto Mono';
  margin: 2rem;
  text-align: center;
}

.intro-container {
  display: flex;
}

.intro-container {
  margin: 3rem 0 3rem 0;
  padding: 2rem;
  width: 100%;
  max-height: 15rem;
  vertical-align: middle;
}

.top-image {
	display: inline-block;
	float: left; 
	border-radius: 50%;
	width: 20%;
	height: auto;
	margin: auto;
}

.intro-block-text { 
   display: inline-block;
   float: right; 
   width: 70%;
   margin: auto;
}

.main-text-block{
  vertical-align: middle;
  display: inline-block;
  padding: 1rem;
  font-style: 'Roboto-Mono';
  font-size: .9rem;
  color: white;
  background: #DDB9A3;
  text-align: center;
}

.center-info{
	width: 50%;
	display: block;
	margin: auto;
}

.small-text-block{
  font-size: .8rem;
  width: 100%;
  display: block;
  margin: auto;
}

.small-image {
  margin: 0 auto;
  padding: .8rem;
  height: 5rem;
  width: 5rem;
  display: block;
}

.bold {
  font-family: 'Roboto Mono';
  font-weight: bold;
}

.bottom-image {
	width: 100%;
	height: auto;
	margin: 2rem auto 0 auto;
  	display: block;
}

footer {
  background-color: #F9E7DC;
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-height: 6rem;
}
